/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0366ee;
  --link: #0000ee;
  --hover: #551a8b;
  --secondary: #fcb42a;
  --font-family: "DM Sans", sans-serif;
}

/****************************************
 *    Base - Elements
 *****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: var(--hover);
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

/****************************************
 *    Components - Common
 *****************************************/
/*
.header {
}
.header a {
}
@media (min-width: 40em) {
  .header {
  }
}

.main {
}
.main svg {
}
@media (min-width: 40em) {
  .main {
  }
}

.footer {
}
.footer ul {
}
.footer li {
}
@media (min-width: 40em) {
  .footer {
  }
}
*/
/****************************************
 *    Components - Layouts
 *****************************************/
/*
.proyectos {
}

.proyectos ul {
}

.proyectos li {
}

.proyectos img {
}

@media (min-width: 40em) {
  .proyectos {
  }
}
*/
/****************************************
 *    Components - Common
 *****************************************/
.home-container {
  text-align: center;
  display: grid;
}
/*
@media (min-width: 40em) {
  .home-container {
  }
}

.banner {
}
*/
.site-name {
  font-size: 3.8em;
  font-weight: normal;
  color: rgb(255, 228, 189);
  letter-spacing: 0.03em;
}

/*
@media (min-width: 40em) {
  .banner {
  }
}
*/
.menu {
  text-justify: distribute-all-lines;
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 25px;
}
.menu a {
  line-height: 6vh;
  color: black;
}

.menu li {
  letter-spacing: 0.04em;
  margin-top: -0.3em;
  margin-bottom: -0.3em;
}
@media (min-width: 40em) {
  /*
  .nav {
  }
  .menu {
  }
}
*/
  .footer {
    bottom: 0px;
    position: absolute;
    margin-left: -50%;
    right: 2%;
    left: 50%;
  }
  /*
.footer p {
}
@media (min-width: 40em) {
  .footer {
  }
  */
}

/****************************************
 *    Components - Proyectos
 *****************************************/
.grid-container {
  height: 100vh;
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 80px 1fr 1fr;
}

.image-container {
  padding: 1em;
}

.image-container img {
  margin-top: 2.5em;
}

@media (min-width: 40em) {
  .grid-container {
    position: relative;
    height: 100vh;
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content minmax(autofill, 400px);
  }

  #nav-toggle {
    grid-column: 1 / 6;
    grid-row: 1;
  }

  .nombre {
    grid-column: 5 / 7;
    grid-row: 2;
  }

  .descripcion {
    position: fixed;
    top: 300px;
    left: 40px;
    width: 100%;
    max-width: 40vw;
    margin: 0 0 0 auto;
  }

  .image-container {
    grid-column: 4 / 7;
    grid-row: 3;
  }

  .footer {
    position: fixed;
    bottom: 10px;
    left: 40px;
    right: 410px;
    margin: 0 0 0 auto;
  }
}

.top-nav {
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
  height: 5vh;
}
.top-nav li {
  display: flex;
  align-items: center;
}
@media (min-width: 40em) {
  /*
  .top-nav {
  }
  */
}

.nombre {
  max-height: 80px;
}
/*
@media (min-width: 40em) {
  .nombre {
  }
}

.descripcion {
}
@media (min-width: 40em) {
  .descripcion {
  }
}

footer .grid-container .footer {
}
@media (min-width: 40em) {
  .grid-container .footer {
  }
}
*/
/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
