/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: white;
  --primary: #0366EE;
  --secondary: #FCB42A;
  /* Typography */
  --font-family: 'DM Sans', sans-serif;
}

/* Resets */
html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}button,input,textarea{border:1px solid gray}button{border-radius:0;padding:.75em 1em;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none}noscript{display:block;margin-bottom:1em;margin-top:1em}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-family);
  font-size: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* Tipografía */
p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2;
}

h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

h4 {
  font-size: 1.2em;
  line-height: 1;
}

/* Tipografía responsiva */
/* https://css-tricks.com/snippets/css/fluid-typography */
body {
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
}

/****************************************
*    Componentes
*****************************************/

/* Nav */
.nav {
  border: 1px solid var(--primary);
}

.nav ul {
  border: 1px solid var(--primary);
}

/* branding */
.branding {
  border: 1px solid var(--secondary);
}

.branding a {
  border: 1px solid var(--secondary);
}

/* Footer */
.footer {
  border: 1px solid var(--primary);
}
.footer p {
  font-size: 14px;
}

/*header-proyecto*/
.contenido{
  text-align: center;
  display: flex;
  flex-direction: row;
}
.header{
  height: 15vh;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

/* flex-grow flex-shrink flex-basis*/
.texto{
  font-size: 36px;
  flex: 1 1 auto;
}
.titulo{
  font-size: 72px;
  flex: 1 1 auto;
}
.child{
  flex: 2 2 auto;
}
.child:nth-child(1){
  flex: 1 1 auto;
}
.child:nth-child(2){
  flex: 1 1 auto;
}


/* .child:nth-child(3){} */

